.mat-card-image {
  width: 182px;
  height: 268px;
  margin: auto;
  display: block;
}

.ulrFilme{
  color: darkorchid;
  font-style: oblique;
}
.imgtrailer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2px;
  padding: 2px;
}